* {
    padding: 0;
    margin: 0;
}



.renta-car {
    text-align: center;
    padding-bottom: 35px;
}

.renta-car h1 {
    padding: 10px;
}

.renta-car a {
    color: rgb(25, 144, 144);

}

.car-daily {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.retro-car {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img_rent img {
    border-radius: 50%;
    width: 150px;
}

.img_rent p {
    text-align: center;
}

.img_rent p:nth-child(2) {
    color: rgb(25, 144, 144);
}

.mashin_text {
    text-align: center;
    padding: 70px 0;
}

.mashin_text h1 {
    padding: 10px;
}

.mashin_text a {
    color: rgb(25, 144, 144);
}

.mashin_melumat {
    width: 30%;
    height: 290px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(237, 235, 235);
}

.mashin_melumat img {
    width: 90%;
    height: 170px;
    border-radius: 20px;


}

.img_ {
    display: flex;
    justify-content: center;
}

.mashin_melumat p {
    padding-left: 5px;
}



.mashin_melumat p:nth-child(2) {
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 15px;
}

.mashin_melumat p:nth-child(3) {
    font-size: 20px;
    padding-bottom: 25px;
    color: rgb(25, 144, 144);
    font-weight: bold;

}

.mashin_melumat span {
    font-size: 14px;
    font-weight: 400;
}

.border {
    border-top: 1px solid grey;
    width: 95%;
    margin-left: 10px;
    padding-bottom: 6px;
}

.icone_text {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.icone_text p:nth-child(1) {
    border: 2px solid grey;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    margin: 0;
}

.icone_text p:nth-child(2) {
    font-size: 14px;
    padding-right: 15px;
    padding-bottom: 0;
    margin: 0;
}

.icone_text p {
    color: grey;
}

.icone_text i {
    color: grey;
}


.sedan_mashini {
    padding-bottom: 50px;
}






@media(max-width:1200px) {
    .rent_img {
        flex-wrap: wrap;
    }

    .mashin_melumat {
        width: 30%;
        height: 290px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img {
        width: 90%;
        height: 170px;
        border-radius: 20px;

    }
}

@media(max-width:992px) {
    .rent_img {
        flex-wrap: wrap;
    }

    .mashin_img {
        flex-wrap: wrap;
    }

    .mashin_melumat {
        width: 350px;
        height: 290px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img {
        width: 330px;
        height: 170px;
        border-radius: 20px;

    }

}


@media(max-width:768px) {


    .rent_img {
        flex-wrap: wrap;
    }

    .mashin_img {
        flex-wrap: wrap;
    }


    .mashin_melumat {
        width: 350px;
        height: 290px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img {
        width: 330px;
        height: 170px;
        border-radius: 20px;

    }

}

@media(max-width:500px) {
    .rent_img {
        flex-wrap: wrap;
    }

    .mashin_img {
        flex-wrap: wrap;
    }


    .mashin_melumat {
        width: 350px;
        height: 290px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img {
        width: 330px;
        height: 170px;
        border-radius: 20px;

    }
}

@media(max-width:360px) {
    .rent_img {
        flex-direction: column;
        align-items: center;
    }

    .mashin_img {
        flex-direction: column;
        align-items: center;
    }

    .mashin_melumat {
        width: 100%;
        height: 290px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(237, 235, 235);
    }

    .mashin_melumat img {
        width: 90%;
        height: 170px;
        border-radius: 20px;

    }



}